@import "/src/app/styles/variables.scss";
@import "/src/app/styles/mixins.scss";
.duration__input-container {
    width: 18vw;
    .duration__input-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    input {
        @include field(36px, 18vw);
    }
    .duration__durationValue{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .error{
        color: red;
        margin-top: 5px;
        &-input{
            border-left: 5px solid red; 
        }
    }
}