$padding: 1.5vw 5vw;
$darkGray: #303240;;
$lightGray: rgb(185, 189, 206);
$gray: #a9a9b5;
$greenBtn:  #67A300;
$greenBorder: rgb(127, 221, 133);
$mainGreen: rgb(155, 200, 55);
$lightBlue: rgb(127, 185, 221)