@import '../../styles/variables.scss';

.header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: $padding;
    background-color: $darkGray;
    color: white;
    .header__user{
        display: flex;
        gap: 10px;
        justify-self: end;
        font-size: 12px;
        button{
            background-color: transparent;
            color: white;
            font-size: 12px;
        }
        img{
            height: 12px;
        }
    }
}
.user__login::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 12px;
    background-image: url('../../../assets/pics/general/user.png');
    background-size: cover;
    margin-right: 3px;
}
    

